.App {
  position:relative;
  font-size:10px;
 left:30%;
 right:40%;
  margin-right:auto;
}






.todocontainer{
  background:linear-gradient(to right, 
    hsla(0, 0%, 82%, 0.808), 
    hsla(0, 0%, 99%, 0.788));
  display:grid;
   row-gap: 1px;
  width:20rem;
  margin-top:0.3rem;
  border:1px solid black;
  justify-content: left;
}
.todotitle{
   grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 1;
  grid-column-end: 2;
  position:relative;
  margin-left:0.4rem;
font-size:1.5rem;
}
.tododate{
   grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 2;
   position:relative;
    margin-left:0.4rem;
 
}
.completed{grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 1;
  width:20px;
  height:auto;
  background-color: rgb(5, 255, 30);}
.partlycompleted{grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 1;
  width:20px;
  height:auto;
  background-color: rgb(226, 255, 5);}
.notstarted{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 1;
  width:20px;
  height:auto;
  background-color: rgb(255, 5, 5);
}
